.page {
  width: 100%;
  min-height: 100vh;
  display: flex;

  .table {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.5);

    .title {
      width: 100%;
      color: #444;
    }

    .tree-table {
      display: flex;
      flex-direction: column;
      align-items: center;

      .parent-number {
        text-align: left;
        width: 48%;
      }

      .example-container {
        width: 100%;
        max-width: 100%;
        display: inline-block;
        vertical-align: top;
      }

      .example-list {
        border: solid 1px #ccc;
        min-height: 60px;
        overflow: hidden;
        display: block;
      }

      .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      }

      .example-box {
        width: 100%;
        padding: 20px 10px;
        border-top: solid 1px #ccc;
        color: rgba(0, 0, 0, 0.87);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        cursor: move;
        background-color: rgba(238, 238, 238, 0.4);
        font-size: 14px;
      }

      .example-box:last-child {
        border-bottom: solid 1px #ccc;
      }
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

::ng-deep .mat-expansion-panel-content {
  padding: 0;

  .mat-expansion-panel-body {
    padding: 0;
  }
}
