<div class="page">
    <div class="table">
        <h1 class="title">
            Welcome to {{ title }}!
        </h1>
        <div class="tree-table" cdkDropListGroup>
            <div *ngFor="let pItem of dataTree" class="example-container">
                <div *ngIf="pItem">
                    <mat-accordion>
                        <mat-expansion-panel class="mat-expansion-panel">
                            <mat-expansion-panel-header>
                                <td class="parent-number">
                                    {{pItem.parent.id}}
                                </td>
                                <td>
                                    {{pItem.parent.title}}
                                </td>
                            </mat-expansion-panel-header>

                            <div cdkDropList [cdkDropListData]="pItem.childs" class="example-list"
                                #todoList="cdkDropList" (cdkDropListDropped)="drop($event)">
                                <div *ngIf="pItem.childs.length < 1">there is no childrens</div>
                                <div class="example-box" *ngFor="let cItem of pItem.childs" cdkDrag>
                                    {{cItem.title}}
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>

                </div>
            </div>
        </div>
    </div>
</div>